<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1772359623117</Id>
		<Name><![CDATA[orderCycle]]></Name>
		<X>360</X>
		<Y>90</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">WEEK</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_WEEK</Unit>
			</Rate>
			<Id>1772359623115</Id>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1772438400000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">WEEK</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">WEEK</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
		<Logging>false</Logging>
	</Event>
</Events>
